body{
    background-color: #e7adcd;
    color: rgb(255, 0, 140);
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color:rgb(241, 0, 201);
    font-size: 40px;
}

.seccion{

    background-color: rgb(233, 154, 206);
}

#Perfil {
    background-color: #ece8eb;
}